@{
    ViewData["Title"] = "Conversion Home Page";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="row">
        <ul>
            <li><a asp-area="" asp-controller="Conversion" asp-action="TempConvert">Temp Conversion</a></li>
            <li><a asp-area="" asp-controller="Conversion" asp-action="LengthConvert">Length Conversion</a></li>
            <li><a asp-area="" asp-controller="Conversion" asp-action="MassConvert">Mass Conversion</a></li>
        </ul>
        <h4>Instructions</h4>
        <p></p>
    </div>
</div>