@{
    ViewData["Title"] = "Temperature Converter Home Page";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
<div class="row">    
    <div class="col-xs-4"></div>
        <div class="col-xs-4">
        <form action="TempConvert" method="post">
            <div class="form-group">
                <label for="numIn">Enter Temperature: </label>
                <input placeholder=@ViewData["numIn"] type="text" class="form-control" id="numIn" name="numIn">
            </div>
            <div class="form-group">
                <label for="type">Conversion Type:</label>
                <select class="form-control" id="type" name="type">
                    <option>Celsius to Fahrenheit</option>
                    <option>Fahrenheit to Celsius</option>
                    <option>Celsius to Kelvin</option>
                    <option>Kelvin to Celsius</option>
                    <option>Celsius to Kelvin</option>
                    <option>Fahrenheit to Kelvin</option>
                    <option>Kelvin to Fahrenheit</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Convert</button>
            </div>
            <h2 style="float: right">Converts to: @ViewData["result"]</h2>
        </form>
        </div>
        <div class="col-xs-4"></div>
</div><!-- end of row -->
</div><!-- end of container -->