<!-- Search form -->
<form asp-action="Index" method="get">
    <div class="form-inline float-right">
        <p>
            Find by name: 
            <input type="text" class="text-dark m-1 p-2" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default m-3" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>