@{
    ViewData["Title"] = "Conversion Home Page";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="row">
        <h4>Instructions</h4>
        <p>Click on the links above to access conveter forms</p>
    </div>
</div>