@{
    ViewData["Title"] = "Length Converter Home Page";
}

<h2>@ViewData["Title"]</h2>

<div id="container">
<table class="table table-striped">
    <th class="tableHeader">
        <td>Meters to Feet</td>
        <td>Feet to Meters</td>
        <td>Meters to Yards</td>
        <td>Yards to Meters</td>
        <td>Feet to Yards</td>
        <td>Yards to Feet</td>
    </th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>        
        </tr>    
</table>
</div>