@{
    ViewData["Title"] = "Mass Converter Home Page";
}

<h2>@ViewData["Title"]</h2>

<div id="container">
<table class="table table-striped">
    <th class="tableHeader">
        <td>Oz to Lb</td>
        <td>Lb to Oz</td>
        <td>Oz to G</td>
        <td>Oz to kG</td>
        <td>kG to Oz</td>
        <td>Lb to G</td>
        <td>G to Lb</td>
        <td>Lb to kG</td>
        <td>kG to Lb</td>
        <td>G to kG</td>
        <td>kG to G</td>
    </th>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>        
        </tr>    
</table>
</div>