@model BuffteksWebApp.Models.ProjectAddViewModel

@{
    ViewData["Title"] = "Add to Project";
    Model.PAVID = Model.NewProject.ProjectID;
}

<h4>Add Clients/Members to Project: @Model.NewProject.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">  
          
        <form asp-action="AddClientToProject" method="post">
            <div class="form-group">
                <input type="hidden" asp-for="PAVID"/>
            </div>
            <div class="form-group">
                <label asp-for="SelectID" class="control-label">Select client</label>
                <select asp-for="SelectID" asp-items="@Model.ClientList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Client" class="btn btn-default" />
            </div>
        </form>


        <form method="post">
            <div class="form-group">
                <label asp-for="SelectID" class="control-label">Select member</label>
                <select asp-for="SelectID" asp-items="@Model.MemberList"></select>              
            </div>
            <div class="form-group">
                <input asp-route-id="@Model.NewProject.ProjectID" asp-action="AddMemberToProject" type="submit" value="Add Member" class="btn btn-default btn-sm" />
            </div>
        </form>    


    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
